.question--container {
    display: flex;
    flex-direction: column;
    gap: 1.1em;
}

.answers {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

p {
    margin: 0;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid #DBDEF0;
    width: 100%;
    margin: 0;
    margin-bottom: 1em;
    margin-top: 0.2em;
}

@media only screen and (max-width: 800px) {
    .question--container {
        gap: 0.55em
    }

    .answers {
        gap: 0.5em
    }

    hr {
        margin-bottom: 0.5em;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1920px) {
    .question--container {
        gap: 0.85em
    }

    .answers {
        gap: 0.8em
    }

    hr {
        margin-bottom: 0.8em;
    }
}