.container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 2em 1em;
    max-width: 1000px;
    color: #293264;
    font-size: 1.3rem;
    font-weight: 500;
}

.sub-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.sub-container p {
    margin: 1em 0;
    font-size: 1.7rem;
    margin-left: 3em;
}

.container button {
    font-family: "Poppins", "sans-serif";
    font-size: 1.1rem;
    font-weight: 400;
    background-color: #4D5B9E;
    color: white;
    padding: 1em 2em;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    margin: 1em auto;
    justify-self: center;
}

.container button:hover,
.container button:focus {
    background-color: #606eb4;
}